/* Color Variables */
:root {
    --red: hsl(0, 100%, 74%); 
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --darkBlue: hsl(249, 10%, 26%); 
    --grayishBlue: hsl(246, 25%, 77%);
    --white: hsl(348, 100%, 99%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: url('images/bg-intro-mobile.png') center/contain repeat var(--red);
}

.main {
    width: 100%;
    max-width: 375px;
    height: 1000px;
    margin: 0 auto;
}

.header {
    margin-top: 86px;
    margin-bottom: 28px;
    color: var(--white);
    text-align: center;
    line-height: 37px;
}

.main-description {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 65px;
    margin-top: 0px;
    color: var(--white);
    text-align: center;
    font-size: 16px;
}

.trial-advert {
    width: 100%;
    max-width: 325px;
    height: 88px;
    margin: 0 auto 24px auto;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--blue);
    text-align: center;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.advert-text-1 {
    margin-bottom: 0;
    padding-top: 18px;
}

.advert-bold {
    font-weight: 700;
}

.advert-text-2 {
    margin: 0;
}

.fieldset {
    width: 100%;
    max-width: 325px;
    height: 442px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-color: var(--white);
    text-align: center;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.form-box {
    text-align: center;
    position: relative;
}

input {
    width: 100%;
    max-width: 279px;
    height: 56px;
    margin: 0 auto 18px auto;
    padding-left: 14px;
    border: solid 1px var(--grayishBlue);
    border-radius: 8px;
    color: var(--darkBlue);
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

.error-icon {
    display: none;
    position: absolute;
    left: 251px;
    top: 16px;
}

.error-message {
    display: none;
    font-size: 10px;
    color: var(--red);
    position: absolute;
    top: 48px;
    left: 146px;
}

.error-message-1 {
    top: 71px;
}

.error-message-4 {
    left: 152px;
}

.password-length-error {
    left: 68px;
}

.icon-1 {
    top: 40px;
}

.first-name {
    margin-top: 25px;
}

.form-btn {
    width: 100%;
    max-width: 279px;
    height: 56px;
    margin: 0 auto;
    background-color: var(--green);
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: var(--white);
    border: none;
    border-radius: 8px;
    border-color: var(--green);
    text-transform: uppercase;
    transition: 150ms ease-in-out;
    box-shadow: 0px 3px 0px hsl(153.9, 54.5%, 41.4%);
}

.form-btn:hover {
    filter:opacity(0.70);
    cursor: pointer;
}

.form-btn:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px;
}

.disclaimer-container {
    width: 76%;
    margin: 0 auto;
}

.disclaimer {
    text-align: center;
    font-size: 10px;
    color: var(--grayishBlue);
}

.disclaimer-terms {
    color: var(--red);
    font-weight: 600;
}

/* .attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
} */


/* Very small devices (small screens and small phones, 374px and down) */
@media only screen and (max-width:314px) {
    input {
        position: relative;
    }

    .error-icon {
        position: absolute;
        top: 41%;
        right: 16px;
        left: initial;
        transform: translateY(-50%);
        z-index: 1;
    }

    .icon-1 {
        top: 55px;
    }
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main {
        max-width: 600px;
    }

    .trial-section {
        width: 100%
    }

    .trial-advert {
        max-width: 532px;
    }

    .fieldset {
        max-width: 532px;
    }

    input {
        max-width: 488px;
    }

    .error-icon {
        left: 459px;
    }

    .error-message {
        left: 353px;
    }

    .password-length-error {
        left: 279px;
    }

    .form-btn {
        max-width: 488px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main {
        max-width: 100%;
    }

    .header {
        font-size: 40px;
        width: 68%;
        margin: 86px auto 28px auto;
        line-height: 1.2;
    }

    .main-description {
        font-size: 22px;
        margin: 0 auto 65px auto;
        width: 57%;
    }
} 

/*Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        background: url('images/bg-intro-desktop.png') center/contain repeat var(--red);
    }

    .main {
        display: flex;
        width: 100%;
        max-width: 1440px;
        height: 800px;
        background-image: url('')
    }

    .main-text {
        display: flex;
        width: 92.3%;
        flex-direction: column;
        justify-content: center;
        padding-left: 165px;
    }

    .header {
        width: 100%;
        margin-top: 70px;
        margin-bottom: 29px;
        font-weight: 700;
        font-size: 49px;
        line-height: 55px;
        text-align: left;
    }
   
    .main-description {
        width: 100%;
        margin-left: 0;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
    }

    .trial-section {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .trial-advert {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 540px;
        height: 60px;
        margin: -22px 0 25px 0;
        font-size: 15px;
        padding-top: 4px;
        padding-right: 2px;
        letter-spacing: 0.2px;
    }

    .advert-text-1 {
        margin: 0;
        padding-top: 0;
        padding-right: 3px;
    }

    .form {
        width: 100%;
        max-width: 540px;
    }

    .fieldset {
        width: 100%;
        max-width: 540px;
        height: auto; 
    }

    input {
        max-width: 460px;
        margin: 2px auto 18px auto;
        padding-left: 31px;
        border-radius: 5px;
        padding-top: 3px;
        font-size: 14px;
        color: hsl(240, 7.7%, 5.1%);
        border: solid 1px hsl(240, 1.5%, 86.9%);
    }

    input:focus {
        outline: none;
        border-color: var(--darkBlue);
    }

    .first-name {
        margin-top: 34px;
    }

    .form-btn {
        max-width: 460px;
        height: 53px;
        margin-top: 2px;
        border-radius: 5px;
        font-size: 15px;
        padding-top: 7px;
        padding-right: 5px;
        letter-spacing: 1px;
    }

    .error-message {
        position: relative;
        left: -1px;
        text-align: right;
        margin: 4px 28px 0px 0px;
        font-size: 11px;
        top: -17px;
        font-style: italic;
    }

    .password-length-error {
        left: -1px;
    }

    .error-icon {
        left: 437px;
        top: 18px;
    }

    .icon-1 {
        top: 50px;
    }

    .disclaimer-container {
        margin-top: 16px;
        margin-right: 63px;
    }

    .disclaimer {
        font-size: 11px;
    }

    .disclaimer-terms {
        font-weight: 700;
    }

    .disclaimer-terms:hover {
        cursor: pointer;
    }

    .bottom-space {
        display: none;
        height: 21px;
    }
}


/*Very Large devices (laptops/desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
    body {
        background: url('images/bg-intro-desktop.png') center/contain no-repeat var(--red);
    }

    .main {
        display: flex;
        width: 100%;
        max-width: 1440px;
        height: 800px;
        background-image: url('')
    }

    .main-text {
        display: flex;
        width: 92.3%;
        flex-direction: column;
        justify-content: center;
        padding-left: 165px;
    }

    .header {
        width: 100%;
        margin-top: 70px;
        margin-bottom: 29px;
        font-weight: 700;
        font-size: 49px;
        line-height: 55px;
        text-align: left;
    }
   
    .main-description {
        width: 100%;
        margin-left: 0;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
    }

    .trial-section {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .trial-advert {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 540px;
        height: 60px;
        margin: -1px 0 25px 0;
        font-size: 15px;
        padding-top: 4px;
        padding-right: 2px;
        letter-spacing: 0.2px;
    }

    .advert-text-1 {
        margin: 0;
        padding-top: 0;
        padding-right: 3px;
    }

    .form {
        width: 100%;
        max-width: 540px;
    }

    .fieldset {
        width: 100%;
        max-width: 540px;
        height: auto; 
    }

    input {
        max-width: 460px;
        margin: 2px auto 18px auto;
        padding-left: 31px;
        border-radius: 5px;
        padding-top: 3px;
        font-size: 14px;
        color: hsl(240, 7.7%, 5.1%);
        border: solid 1px hsl(240, 1.5%, 86.9%);
    }

    input:focus {
        outline: none;
        border-color: var(--darkBlue);
    }

    .first-name {
        margin-top: 34px;
    }

    .form-btn {
        max-width: 460px;
        height: 53px;
        margin-top: 2px;
        border-radius: 5px;
        font-size: 15px;
        padding-top: 7px;
        padding-right: 5px;
        letter-spacing: 1px;
    }

    .error-message {
        position: relative;
        left: -1px;
        text-align: right;
        margin: 4px 28px 0px 0px;
        font-size: 11px;
        top: -17px;
        font-style: italic;
    }

    .password-length-error {
        left: -1px;
    }

    .error-icon {
        left: 437px;
        top: 18px;
    }

    .icon-1 {
        top: 50px;
    }

    .disclaimer-container {
        margin-top: 16px;
        margin-right: 63px;
    }

    .disclaimer {
        font-size: 11px;
    }

    .disclaimer-terms {
        font-weight: 700;
    }

    .disclaimer-terms:hover {
        cursor: pointer;
    }

    .bottom-space {
        display: block;
        height: 21px;
    }
} 

@media only screen and (min-width: 1442px) {
    body {
        background: url('images/bg-intro-desktop.png') center/cover no-repeat var(--red);
    }

    .main {
        height: 100vh;
    }
}

/* Very Large devices (4K screens, 3840x2160 and up) */
@media only screen and (min-width: 3840px) {
    body {
        background: url('images/bg-intro-desktop.png') center/cover no-repeat var(--red);
    }
  
    .main {
        justify-content: center;
        align-items: center;
        max-width: 83%;
    }
  
    .main-text {
        width: 90%;
        max-width: 3840px; /* Set to your design's max width */
        padding: 0;
        text-align: center;
    }
  
    .header {
        font-size: 8.34rem;
        line-height: 1.1;
    }
  
    .main-description {
        font-size: 2.7rem;
        line-height: 1.6;
        font-weight: initial;
    }
  
    .trial-section {
        align-items: flex-end;
        height: 70%;
    }
  
    .trial-advert {
        max-width: 100%;
        font-size: 2.2rem;
        height: 178px;
    }
  
    .form {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
  
    .fieldset {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
  
    input {
        max-width: 90%;
        margin: 41px auto 18px auto;
        margin-top: 41px;
        font-size: 2.2rem;
        height: 178px;
    }
  
    .form-btn {
        max-width: 90%;
        height: 178px;
        font-size: 46px;
        margin-top: 67px;
    }
  
    .error-message {
        position: absolute;
        font-size: 2rem;
        margin: 4px 28px 0px 67%;
        top: 221px;
    }

    .password-length-error {
        left: -244px;
    }
  
    .error-icon {
        position: absolute;
        left: 92%;
        top: 57%;
        transform: translate(-50%, -50%);
        width: 59px;
    }
  
    .disclaimer-container {
        margin-top: 2rem;
        margin-right: 4rem;
        width: 100%;
    }
  
    .disclaimer {
        font-size: 2rem;
    }
  
    .disclaimer-terms {
        font-weight: 700;
        cursor: pointer;
    }
  
    .bottom-space {
        height: 1rem;
    }
  }
  
  